body{
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #f0fbfd;
  
}

.app{
  width: 1200px;
  display: flex;
  flex-direction: column;
  /* background-color: rgba(0, 255, 255, 0.2); */
  align-items: center;
  justify-content: center;
}

.cards{
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
	background-color: #fffbf4;
  border-radius: .7rem;
}

.nav{
  width: 100%;
  background-color: #F55A5A;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: .8rem 0;
  color: white;
  gap: 2rem;
  font-size: 18px;
  border-radius: .7rem;
  margin: 1rem 0;
  box-shadow: 0px 3px 8px rgba(255, 82, 82, 0.4);
}

.nav > img{
 width: 28px; 
}

.main{
  /* box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
  gap: 4rem;
  padding: 3rem;
  /* background-color: #fffbf4; */
  border-radius: .7rem;
}

.main:not(:last-child) {
  box-shadow: 0px 45px 4px -45px #cacaca;
}

.main >img{
  width: 150px;
  transition: transform .3s;
  border-radius: .5rem;
  /* margin-left: 3rem; */
}

.main > img:hover {
  transform: scale(1.1); 
}

.main--info{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.main--location{
  width: 70%;
  display: flex;
  align-items: center;
}

.main--location > img{
  width: .7rem;
  padding-right: .5rem;
}

.main--location > span{
  letter-spacing: .2em;
  padding-right: 1.3rem;
}

.main--location > a{
   color: black;
   opacity: .3;
}

.main--title{
  margin-top: .7rem;
  transition: transform .3s;
}

.main--title:hover{
  transform: scale(1.05); 
}

.main--date{
  font-size: 14px;
  font-weight: 600;
}

/* .main--text{

} */

.footer{
  background-color: rgba(138, 43, 226, 0.2);
  width: 100%;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.7rem;
}

.footer > p > a{
  text-decoration: none;
  color: red;
}